.table-responsive {
    max-height:300px;
}

.grid {
    gap: 1em;
    grid-template-rows: min-content minmax(0, 1fr) min-content;
    grid-template-columns: 1fr minmax(0, 3r);
    grid-template-areas: "a h"
                         "a c"
                         "a f";
    height: calc(100vh - 2em);
    width: calc(100vw - 2em); /* not necessary, but just to be explicit */
    margin: 1em;
   }